@import url(reset.css);

body {
font-family: Roboto;
margin: 30px;
}

div {
height: 20px;
margin-bottom: 20px;
}

.first { 
background-color: red;
}

.second { 
background-color: blue;
}

.third { 
background-color: green;
}